.choropleth-container {
    position:relative;
    clear: both;
}


.choropleth-tooltip {
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;

}